Source: tirific
Section: science
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends:
 debhelper (>= 8.0.0),
 giza-dev,
 libfftw3-dev,
 libgsl0-dev,
 libreadline-gplv2-dev,
 libx11-dev,
 wcslib-dev
Standards-Version: 3.9.4
Homepage: http://gigjozsa.github.io/tirific/

Package: tirific
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simulate kinematical and morphological models
 construct simulated (high-resolution) astronomical spectroscopic
 3d-observations (data cubes) of simple kinematical and morphological
 models of rotating (galactic) disks.
