#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export CURDIR = `pwd`

%:
	dh $@

#override_dh_auto_build:
#	make -j2 "INSTALL=install"

override_dh_auto_configure:
	dh_auto_configure -- --prefix=$(CURDIR)/qloc --enable-shared=yes
	make

override_dh_clean:
	dh_clean
	rm -rf qfits-6.2.0/main/.deps/
	rm -rf qfits-6.2.0/saft/.deps/
	rm -rf qfits-6.2.0/src/.deps/
	rm -rf qfits-6.2.0/src/.libs/
	rm -rf qfits-6.2.0/test/.deps/
